.stream_container
  position: relative
  margin: 20 0 20 0
  padding-top: 56.25%
  .stream
    position: absolute
    left: 0
    top: 0
    margin: 0 0 0 0
    object-fit: cover
    width: 100%
    height: auto
    border-radius: 20px