head
	// Meta Data
	meta(charset = 'utf-8')
	meta(name = 'viewport', content = 'width=device-width, initial-scale=1, user-scalable=no')
	meta(name = 'description', content = 'A smart home security system')
	meta(name = 'author', content = 'Dominic Egginton')
	// Common CSS
	link(rel = 'stylesheet', href = '/main.css')
	link(rel = 'stylesheet', href = '/controls.css')